@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Oriya:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



.mn1{
    /* background-color: black; */
    background-image: url("https://s3-alpha-sig.figma.com/img/3695/2d79/61223ea3dfa6df3faa7876ebfb1aeb3f?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=GyHfpXpwXMWWSNT7xNaSPPiUaxdyKYWcsdEMBU2TPxUD0GiPfgsvW8RJ~XGv4Uakz4ukuuNqcxQNh~6q8LR91iJ9K7SbsEjSsas5WhbYf-CN3dY79ucnyeZu8m2bdwoAlF0P~Ngl1B5q5cHE4xBhKY2Rh-2CzIvf0aXjQ3kGAWq1sDFXk92Y0qBKgLHEKIM4oChWhkkzpio2bTbOUJjE~JC35td6KHPNApPWVCmUZe3DilG4VH8-P~boQWidT2THNtcTUL-23IilwdiGcCzzy6qbmVTUqj1owPBLqla-5LWiSGmjKzXQRIthVtIuB8kOEVhilny45tLA2WDTbEqJmg__");
    background-size: cover;
    height: 80vw;
    width: 100vw;
    background-repeat: no-repeat;
   
}

nav {
    height: 55px;
    padding-left: 23px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: large;
}

nav .ul {
    display: flex;
    justify-content: space-evenly;
}

nav .ul .li {
    list-style: none;
    margin: 0 23px;
    color: rgb(75, 75, 122);
}

/* nav .ul .li a {
    text-decoration: none;
    color: rgb(75, 75, 122);
} */

nav .ul .li:hover {
    color: rgb(182, 182, 227);
    font-size: 1.01rem;
}


.header {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-header {
    font-size: 3rem;
    letter-spacing: 3px;
    font-family: Montserrat;
    color: white;
}

.about {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: white;
    padding: 95px 350px 95px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 2.5 px;
}

.election1 {
    border-radius: 15px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 27vw;
    background-color: white;
}

.election1 p {
    margin-left: 35px;
}

.election2 {
    border-radius: 15px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 27vw;
    background-color: white;
}

.election2 p {
    margin-left: 23px;
    font-size: 22px;
}

.election1 h2 {
    padding-bottom: 38px;
}

.election2 h2 {
    padding-bottom: 20px;
}

.election1-button {
    height: 7vh;
    width: 9vw;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}

.election2-button {
    height: 7vh;
    width: 9vw;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 2px solid white;
}

.election1-button a {

    color: white;
    font-size: 17px;
    text-decoration: none;
}

.election2-button a {

    color: white;
    font-size: 17px;
    text-decoration: none;
}


.announcement {
    margin-top: 115px;
    margin-left: 50px;
    font-size: 30px;
    color: rgb(241, 241, 241);
}

.footer {
    padding: 20px;
    padding-left: 50px;
    height: 4vh;
    background-color: gray;
}

.paragraph {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}